@tailwind base;
@tailwind components;
@tailwind utilities;


.navBar{
    background-color: #edaaba;
    color: white;
  }

  .submitNewNote, .submitNewFood, .updateFoodbtn, .deleteFoodbtn{
    background-color: #edaaba;
    color: white;
    border-radius: 10%;
    width: 50%;
    height: 30%;
  }

  .titleText{
    color: #edaaba;
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: x-large;
    font-weight: 500;
  }

  .inputNoteBox, .inputFoodBox{
    width: 50%;
    border: 1px #edaaba;
    border-style: solid;
    color: #5A5A5A;
  }

  .inputNoteTitle, .inputFood{
    color:#edaaba;
    font-size: large;
  }

  .NewNote, .NewFood, .UpdateFood, .FoodDetails{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .newNotebtn, .newFoodbtn{
    width: 10%;
    background-color: #edaaba;
    color: white;
    text-align: center;
    border-radius: 20%;
  }

  .note-card, .food-card {
    background-color: #edaaba;
    border: 2px solid #edaaba;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin: 10px;
    width: 200px;
    transition: transform 0.2s;
    cursor: pointer;
}

.note-card:hover{
    transform: scale(3.5);
}

.note-title, .note-content, .food-card-title, .food-content{
  color: white;
}

.showNotesTitle, .showFoodTitle{
    color: #edaaba;
    font-size: x-large;
    font-weight: 500;
}

.ShowNotes, .ShowFood{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes, .food{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.noteItem, .fodItem{
  background-color: #edaaba;
  border: 2px solid #ff85b3;;
  color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: inline-block;
}

.ourNotesbtn, .ourFoodbtn
{
  width: 20%;
  background-color: #edaaba;
  color: white;
  text-align: center;
}

table {
  border: 2px solid #edaaba;
  border-collapse: collapse;
  width: 50%;
  color: #5A5A5A;

}

td {
  border: 2px solid #edaaba;
  padding: 8px;
}


